<div class="modal">
    <div class="modal__generico scale-up-center">
        <div class="modal__header" [style]="'background-color:' + backColor">
            <div class="icono">
                <i class="bi bi-x-lg" (click)="modalService.toggleModalGenerico()"></i>
            </div>
        </div>
        <div class="modal__body">

            <div class="icono__modal">
                <i [class]="icono" [style]="'color:' + color"></i>
            </div>

            <div class="espacio"></div>

            <div class="texto__titulo">
                <h2>{{ titulo }}</h2>
            </div>

            <div class="texto__modal">
                <span>{{ texto }}</span>
            </div>

        </div>
        <div class="modal__continue">
            <button (click)="modalService.toggleModalGenerico()">Continuar</button>
        </div>
    </div>
</div>